<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <title>{% block title %}{{ user.nickname }} daily{% endblock %}</title>
  <link rel="stylesheet" href="/static/styles/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
</body>
  <header id="global-header"></header>
  <div id="body">{% block body %}{% endblock %}</div>
</body>
</html>
{% endautoescape %}
