{% extends "tl/base.html" %}
{% block body %}
<h2>Your journal</h2>
<ol class="journal-entries">
  {% for entry in entries %}
    <li>
      {% include "tl/singleEntry.html" %}
    </li>
  {% else %}
    <li>No entries yet.</li>
  {% endfor %}
</ol>
{% endblock %}
