<h3>{{ entry.date }}</h3>
{% for image in entry.images %}
  <img class="entry-image" src="/img?img_id={{entry.key.urlsafe()}}&idx={{loop.index0}}">
{% endfor %}
<p class="entry-text">{{ entry.message }}</p>
