{% extends "tl/base.html" %}
{% block body %}
<h2>Upload a photo</h2>
<form method="POST" enctype="multipart/form-data">
  <label>Date (optional if your filename includes the date, e.g. img_2012-09-22.jpg)
    <input type="date" name="date">
  </label>
  <input type="file" name="image">
  <input type="submit" value="Submit">
</form>
{% endblock %}
