{% extends "tl/base.html" %}
{% block body %}
<h2>Upload your OhLife Entries</h2>
<form method="POST" enctype="multipart/form-data">
  <input type="file" name="file">
  <input type="submit" value="Submit">
</form>
{% endblock %}
